[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
gunicorn = "*"
disnake = "*"
async-lru = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn app:app --reload"
prod = "gunicorn app:app -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --forwarded-allow-ips *"
